* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Celular */
.container {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.introducao>div>div,.produtos > div > div {
    border: 2px solid blue;
    width: 100%;
}


/* Tablete */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .introducao>div>div,.produtos > div > div {        
        width: 50%;
    }
    .container {
        flex-direction: row;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .introducao>div>div {        
        width: 25%;
    }
    .container {
        flex-direction: row;
    }
    .produtos > div > div{
        width: 33.33%;
    }
}