.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.container > div {
    border: 1px solid gray;
    width: 220px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 1px 1px 5px gray;
    border-radius: 4px;
}