/* Configuração Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.menu > ul {
    border: 2px solid black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 600px;
    height: 50px;
}
.menu > ul > li{
    display: flex;
    border: 2px solid red;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: right;
}

.menu a{
    display: flex;
    border: 2px solid blue;
    color: rgb(82, 31, 130);
    width: 100%;
    justify-content: center;   
    align-items: center;
    /* text-align: center;  */
    text-decoration: none;
}

.menu a:link{
    text-decoration: none;
} 
.menu a:hover{
    text-decoration: underline;
    
}

.apresentacao{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
}

.apresentacao > .container{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.apresentacao p{
    margin-top: 20px;
}
.apresentacao >div> button{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blue;
    color: white;
}
.apresentacao > div >p:nth-of-type(1){
    font-weight: bolder;
    font-size: 30px;
}