/* Configuração Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    /* teste */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


}

main {
    padding-top: 60px;
}

.opNav {
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-y: center;
    background-position-x: 10px;
}

.opHome {
    background-image: url('../img/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png');

}

.opNew {
    background-image: url('../img/grade_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png');
}

.opUsed {
    background-image: url('../img/history_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png');
}

.opLeg {
    background-image: url('../img/account_balance_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png');
}

.navBar {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar h1 {
    color: beige;
    font-family: "Racing Sans One", sans-serif;
}

.navBar>ul {
    text-align: center;
}

.navBar>ul>li {
    display: inline-block;
}

.navBar a:link,
.navBar a:visited {
    margin: 5px 0px 5px 0px;
    color: rgb(206, 199, 199);
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding: 15px 5px 15px 5px;
    border-radius: 10px;
    transition: all 0.3s;
    text-align: end;
}

nav a:hover {
    background-color: rgba(128, 128, 128, 0.362);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}

footer h1 {
    font-family: "Racing Sans One", sans-serif;
    color: beige;
}

footer p:nth-of-type(1) {
    color: orangered;
    margin-bottom: 20px;
}

footer p:last-of-type{
    margin-bottom: 0px;
    font-size: small;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.container>div {
    width: 100%;
}

.apresentacao img {
    width: 100%;
    border-radius: 10px;
}

body {
    background-color: silver;
    background-image: url('../img/cool-background.png');
    background-size: cover;
}

section {
    margin: auto;
    width: 1200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    color: silver;
    padding: 10px;

}

.apresentacao .container>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;


}

.apresentacao h1 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.apresentacao p {
    text-align: justify;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 5px;
}

.granTurismo .container {
    flex-direction: column;
    text-align: center;
}

.granTurismo {
    padding: 20px;
}

.granTurismo p {
    margin: 20px 20px
}

.contato {
    padding: 20px;
}

.contato .container {
    padding: 20px;
}

fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    text-align: justify;
}

input {
    margin: 10px;
    background-color: black;
    border: none;
    color: white;
    border-bottom: 2px solid white;
}

.contato img {
    width: 80%;
}

.contato .container>div {

    text-align: center;
}

button {
    padding: 10px;
    width: 100px;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    transition: all 0.3;
}

button:hover {
    background-color: orange;
    cursor: pointer;
}


p {
    margin-bottom: 20px;
}

.contato p:nth-of-type(1) {
    color: orangered;
    font-size: large;

}

.contato img {
    width: 40%;
}

.containerCar {
    display: flex;
    flex-direction: row;
}

.containerCar p {
    margin: 5px;
}

.containerCar>div {
    border: 10px solid silver;
    width: 33.33%;
    margin: 10px;
    border-radius: 20px;
    background-color: silver;
    color: black;
    transition: all 0.3s;

}

.containerCar>div:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.containerCar img {
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s;
}

.containerCar img:hover {
    cursor: zoom-in;
}

.containerCar img:active {
    transform: scale(2.0);

}

h3 {
    text-align: center;
}

.containerCar p:last-of-type {
    color: orangered;
    font-weight: bold;
    font-size: 20px;
}

.containerCar>div>div {
    border-radius: 10px;
    background-color: rgb(222, 215, 215);
    margin: 20px;
    padding: 10px;
}

.sectionCar>div>img {
    width: 8%;
}

.sectionCar>div {
    text-align: center;
}

.sectionCar h1 {
    font-family: "Anton", sans-serif;
    font-size: 40px
}