body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os grupos */
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos dentro de um grupo */
}

label {
    display: inline-block;
    width: 200px; /* Largura fixa para alinhamento dos labels */
    text-align: right; /* Alinha o texto do label à direita */
    margin-right: 10px; /* Espaçamento entre o label e o input */
}

input[type="text"] {
    width: 250px; /* Largura fixa dos campos de texto */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="button"] {
    padding: 5px 10px;
    width: auto; /* Corrige para o botão ter largura apropriada */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    max-width: 150px; /* Limita a largura máxima do botão */
}

input[type="button"]:hover {
    background-color: #0056b3;
}
